@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	@apply h-full bg-gray-50 dark:bg-inherit;
}

select.select {
	&.select-sm {
		/* Fix for the DaisyUI select size small to prevent overflow */
		@apply py-0;
	}
}

.btn {
	&:hover {
		@apply scale-101;
	}
}
